{% extends "layouts/agent.html" %}
{% set pageName="Home" %}

{% block beforeContent %}
 
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
     
        
        <div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
     
        <h1 class="govuk-heading-l">
          Archiving an organisation
        </h1>
        <p class="govuk-body">
          Archiving an organisation will stop the organisation from being able to register any more claims.
        </p>
        <p class="govuk-body">
          A superuser account will be able to restore an organisation within 2 years.
        </p>
    
        <form action="/form-handler" method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Are you sure you want to archive {{ data['orgname'] }}?
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="interviewNeeds" name="interviewNeeds" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="interviewNeeds">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="interviewNeeds-2" name="interviewNeeds" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="interviewNeeds-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>
  </main>
</div>

</div>

          
        

      </div>
    </div>
  </main>
</div>
<!--
{{ data | dump }}
-->
{% endblock %}
