{% extends "layouts/agent.html" %}
{% set pageName="Home" %}

{% block beforeContent %}
{% include "includes/back.njk" %}
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
     
        <h1 class="govuk-heading-l">Audit log for {{ data['orgname'] }}</h1>
<div class="dwp-timeline">
  <ol class="dwp-timeline__items">
    <li class="dwp-timeline__item">
      <p class="dwp-timeline__datetime">12 September 2025 at 10:14am</p>
      <h2 class="dwp-timeline__heading">Organisation archived</h2>
      <p class="dwp-timeline__by-line">by Amanda Forrest</p>
    </li>
     <li class="dwp-timeline__item">
      <p class="dwp-timeline__datetime">2 September 2025 at 10:14am</p>
      <h2 class="dwp-timeline__heading">Organisation emai l address updated</h2>
      <p class="dwp-timeline__by-line">by Amanda Forrest</p>
    </li>
    <li class="dwp-timeline__item">
      <p class="dwp-timeline__datetime">1 July 2025 at 10:14am</p>
      <h2 class="dwp-timeline__heading">Branch address updated</h2>
      <p class="dwp-timeline__by-line">by Amanda Forrest</p>
    </li>
    <li class="dwp-timeline__item">
      <p class="dwp-timeline__datetime">16 June 2024 at 1:00am</p>
      <h2 class="dwp-timeline__heading">Branch added</h2>
      <p class="dwp-timeline__by-line">by Fred Jackson</p>
    </li>
    <li class="dwp-timeline__item">
      <p class="dwp-timeline__datetime">1 June 2024 at 7:14am</p>
      <h2 class="dwp-timeline__heading">Organisation created</h2>
      <p class="dwp-timeline__by-line">by Fred Jackson</p>
    </li>
   
  </ol>
</div>

          
        

      </div>
    </div>
  </main>
</div>
<!--
{{ data | dump }}
-->
{% endblock %}
