{% extends "layouts/agent.html" %}
{% set pageName="Home" %}

{% block beforeContent %}
{% include "includes/back.njk" %}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{ data['orgname'] }}</h1>
       <p class="govuk-body">Organisation status: <strong class="govuk-tag govuk-tag--green">
          Active
        </strong> </p>
         <p class="govuk-body">User agreement status: <strong class="govuk-tag govuk-tag--green">
          Complete
        </strong> </p>
      </div>
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Actions</h2>
        <p class="govuk-body"><a href="/v2/agent/view-org/audit-log">Add a branch</a></p>
        <p class="govuk-body"><a href="/v2/agent/view-org/audit-log">Create a CRIF catch up</a></p>
        <p class="govuk-body"><a href="/v2/agent/view-org/audit-log">Archive organisation</a></p>
      </div>
    </div>
  </main>
</div>
<!--END OF double column layout-->

<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#org-details">
        Organisation details
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#branches">
        Branches
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#history">
        History
      </a>
    </li>
  
  </ul>
<!--end of tabs-->


  <div class="govuk-tabs__panel" id="org-details">
   <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Organisation details</caption>

  <tbody class="govuk-table__body">
    {% if "InsurerID" in data['additionalinfo'] %}
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Insurer ID</th>
      <td class="govuk-table__cell">{{ data['insurerid'] }}</td>
      <td class="govuk-table__cell"><a href="#">Change</a></td>
      {% endif %}
    </tr>
   
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Organisation name</th>
      <td class="govuk-table__cell">{{ data['orgname'] }}</td>
      <td class="govuk-table__cell"><a href="#">Change</a></td>
    </tr>
    
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Organisation type</th>
      <td class="govuk-table__cell">{{ data['orgtype'] }}</td>
      <td class="govuk-table__cell"><a href="#">Change</a></td>
    </tr>

 {% if "delegateID" in data['additionalinfo'] %}
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Delegate ID</th>
      <td class="govuk-table__cell">{{ data['delegateid'] }}</td>
      <td class="govuk-table__cell"><a href="#">Change</a></td>
    </tr>
     {% endif %}  

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Organisation ID</th>
      <td class="govuk-table__cell">19392</td>
      <td class="govuk-table__cell"><a href="#"></a></td>
    </tr>


  </tbody>
</table>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Contact details</caption>

  <tbody class="govuk-table__body">
  {% if "delegateID" in data['orgphone'] %}
   <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Phone number</th>
      <td class="govuk-table__cell">{{ data['unit-phone'] }}</td>
       <td class="govuk-table__cell"><a href="#">Change</a></td>
    </tr>
    {% endif %}  
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Email</th>
      <td class="govuk-table__cell">{{ data['orgemail'] }}</td>
      <td class="govuk-table__cell"><a href="#">Change</a></td>
    </tr>

     </tbody>
</table>

  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="branches">
   
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
             {{ data['branchname'] }}
          </h2>
          <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="#">Change branch name<span class="govuk-visually-hidden"> (University of Gloucestershire)</span></a>
      </li>
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="#">Remove branch<span class="govuk-visually-hidden"> (University of Gloucestershire)</span></a>
      </li>
    </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
               Address
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['select-an-address'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> whether details are known (Person 3)</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Phone number
              </dt>
              <dd class="govuk-summary-list__value">
              {{ data['unit-phone'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> relationship to lead tenant (Person 3)</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Branch ID
              </dt>
              <dd class="govuk-summary-list__value">
                C12351-123
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> age (Person 3)</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Start date
              </dt>
              <dd class="govuk-summary-list__value">
                12 September 2025
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> working situation (Person 3)</span></a>
              </dd>
            </div>
          </dl>
        </div>
      </div>
  </div>

  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="history">
    <h2 class="govuk-summary-card__title">
             History
          </h2>
   <div class="dwp-timeline">
  <ol class="dwp-timeline__items">
    <li class="dwp-timeline__item">
      <p class="dwp-timeline__datetime">12 September 2025 at 10:14am</p>
      <h2 class="dwp-timeline__heading">Organisation archived</h2>
      <p class="dwp-timeline__by-line">by Amanda Forrest</p>
    </li>
     <li class="dwp-timeline__item">
      <p class="dwp-timeline__datetime">2 September 2025 at 10:14am</p>
      <h2 class="dwp-timeline__heading">Organisation emai l address updated</h2>
      <p class="dwp-timeline__by-line">by Amanda Forrest</p>
    </li>
    <li class="dwp-timeline__item">
      <p class="dwp-timeline__datetime">1 July 2025 at 10:14am</p>
      <h2 class="dwp-timeline__heading">Branch address updated</h2>
      <p class="dwp-timeline__by-line">by Amanda Forrest</p>
    </li>
    <li class="dwp-timeline__item">
      <p class="dwp-timeline__datetime">16 June 2024 at 1:00am</p>
      <h2 class="dwp-timeline__heading">Branch added</h2>
      <p class="dwp-timeline__by-line">by Fred Jackson</p>
    </li>
    <li class="dwp-timeline__item">
      <p class="dwp-timeline__datetime">1 June 2024 at 7:14am</p>
      <h2 class="dwp-timeline__heading">Organisation created</h2>
      <p class="dwp-timeline__by-line">by Fred Jackson</p>
    </li>
   
  </ol>
</div>
</div>
{% endblock %}
