{% extends "layouts/agent.html" %}
{% set pageName="Home" %}

{% block beforeContent %}
{% include "includes/back.njk" %}
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">{{ data['orgname'] }}</h1>
        <h2 class="govuk-heading-m">Organisation details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          
          {% if "InsurerID" in data['additionalinfo'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              InsurerID
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['insurerid'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          {% endif %}
     

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['orgname'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation type
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['orgtype'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">{{ data['orgemail'] }}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
            </dd>
          </div>

          {% if "delegateID" in data['additionalinfo'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              DelegateID
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['delegateid'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
            </dd>
          </div>
          {% endif %}   
           {% if "phone" in data['additionalinfo'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['orgphone'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation ID
            </dt>
            <dd class="govuk-summary-list__value">
              A really helpful org ID in a format I don't know
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
            </dd>
          </div>
          {% endif %}   

        
          
       
        </dl>
<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
Archive organisation
</button>
          

<h2 class="govuk-heading-m">Branches</h2>

    <div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      {{ data['branchname'] }}
    </h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> (University of Gloucestershire)</span></a>
      </li>
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="#">Remove branch<span class="govuk-visually-hidden"> (University of Gloucestershire)</span></a>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['select-an-address'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> age (Lead tenant)</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Email
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['unit-email'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> age (Lead tenant)</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Phone number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['unit-phone'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> age (Lead tenant)</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         BranchID
        </dt>
        <dd class="govuk-summary-list__value">
          A branchID of some formats
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> age (Lead tenant)</span></a>
        </dd>
      </div>
    </dl>
  </div>
</div>

  </tbody>
</table>
        <button type="submit" class="govuk-button" data-module="govuk-button">
  Add branch
</button>
    <p class="govuk-body"><a href="/v2/agent/view-org/audit-log">Audit log</a> </p>
      </div>
    </div>
  </main>
</div>



{% endblock %}
