{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
 {% from "govuk/components/radios/macro.njk" import govukRadios %}
 {% from "govuk/components/table/macro.njk" import govukTable %}
 {% from "govuk/components/panel/macro.njk" import govukPanel %}
 {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

 {% set pageName="Home" %}

{% block content %}

<div class="govuk-width-container">


<a href="update-claim-details" class="govuk-back-link">Back</a>

     <main class="govuk-main-wrapper" id="main-content">

       <div class="govuk-grid-row"> 
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#date-from-error">Date from must be before date to</a>
        </li>
       
      </ul>
    </div>
  </div>
</div>


    <form class="form" action="confrimation-claim-details-updated" method="post">



         <span class="govuk-caption-l"></span>
<h1 class="govuk-heading-l">Download a hospital treatment confirmation report</h1>

<p class="govuk-body">
This report only includes motor liability and public liability claims managed using the digital service.
</p>

<p class="govuk-body">This report will show:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    how long it took to confirm hospital treatment outcomes 
  </li>
   
  <li>how many times these task outcomes were recorded: 
    <ul>
      <li>hospital treatment took place</li>
      <li>hospital treatment did not take place</li>
      <li>hospital treatment cannot be confirmed </li>
    </ul>
  </li>
  <li>
    at what point in the process an agent found out the hospital treatment outcome 
  </li>
  <li>
    when hospital treatment could not be confirmed, how often an agent recorded the injury as serious
  </li>
  
</ul>


  <h2 class="	govuk-heading-s">Download report within a date range</h2>


<div class="govuk-form-group govuk-form-group--error">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="date-from-hint date-from-error">
      <legend class="govuk-fieldset__legend">
      Date from
    </legend>
    <div id="date-from-hint" class="govuk-hint">
      For example, 27 3 2007
    </div>
    <p id="date-from-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> Date from must be before date to
    </p>
    <div class="govuk-date-input-from" id="date-from">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="date-from-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2 govuk-input--error" id="date-from-day" name="date-from-day" type="text" value="" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="date-from-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2 govuk-input--error" id="date-from-month" name="date-from-month" type="text" value="" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="date-from-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4 govuk-input--error" id="date-from-year" name="date-from-year" type="text" value="" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div>


</br>
</br>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
    <legend class="govuk-fieldset__legend">
      Date to
    </legend>
    <div id="passport-issued-hint" class="govuk-hint">
      For example, 27 3 2007
    </div>
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
  </div>
   


      <br>
      {{ govukButton({
  text: "Download report (CSV)"
}) }}
    
    
 
    
</div>
    </form>
    </div>
      </div>
    </main>
</div>
{% endblock %}

