{% if data.claimState == "incomplete" %}
<h2 class="govuk-heading-m">Actions</h2>
    <ul class="govuk-list">
        <li>
            <a class="govuk-link" href="#">Create a legacy task</a>
        </li>
        <li>
            <a class="govuk-link" href="#">Set a reminder</a>
        </li>
    </ul>
{% endif %}

{% if data.claimState == "legacy" %}
{% endif %}

{% if data.claimState == "settled" %}
{% endif %}

{% if data.claimState == "issued" and data.location !="ni" %}
    <h2 class="govuk-heading-m">Actions</h2>
    <ul class="govuk-list">
        <li>
            <a class="govuk-link" href="#">Create a legacy task</a>
        </li>
        <li>
            <a class="govuk-link" href="#">Set a reminder</a>
        </li>
        <li>
            <a class="govuk-link" href="#">Settle a claim</a>
        </li>
    </ul>
{% endif %}

{% if data.claimState == "issued" and data.location =="ni" %}
    <h2 class="govuk-heading-m">Actions</h2>
    <ul class="govuk-list">
        <li>
            <a class="govuk-link" href="#">Create a legacy task</a>
        </li>
        <li>
            <a class="govuk-link" href="#">Send a letter</a>
        </li>
        <li>
            <a class="govuk-link" href="#">Set a reminder</a>
        </li>
        <li>
            <a class="govuk-link" href="#">Settle a claim</a>
        </li>
    </ul>
{% endif %}