{% extends "layouts/agent.html" %}
{% set pageName="Home" %}

{% block beforeContent %}
{% include "includes/back.njk" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="../claim/" method="post">

        <h1 class="govuk-heading-xl">
        Select a letter to send
        </h1>

        {{ govukRadios({
        name: "letterToSend",
        items: [
            {
            value: "cru-comp-si-ip",
            text: "CRU COMP SI IP"
            }
        ]
        }) }}

        {{ govukButton({
        text: "Continue"
        }) }}

    </form>
  </div><!-- End 2/3 column -->
</div><!-- End row -->

{% endblock %}
