//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

//sign out link comp header

.govuk-service-navigation__list {
  display: flex;
  justify-content: flex-end;
}

// phase banner 

.govuk-header__content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.govuk-phase-banner--inline {
  margin-left: 1rem; /* adjust spacing */
}


//table content 

.govuk-table {
  width: 100%;
  table-layout: auto; /* Allows columns to size based on content */
}



//card - claim list from Find a claim 

.card{

    margin-bottom:20px;
    border:1px solid $govuk-border-colour;
    //padding:15px;
    box-sizing: border-box;

    
    .govuk-button--secondary{
        margin-bottom:0px;
        background: #fff;
        color: #10813e;
        border: 2px solid #10813e;
        box-shadow:none;

    }

    h2 {
        background:govuk-colour("light-grey");
        padding: .8em 1em;
        margin: 0;
    }


    a {
        h2, h3, h4 {
            color: $govuk-link-colour;
        }

        &:hover{
            h2, h3, h4 {
                color: $govuk-link-hover-colour;
            }
        }

        &:visited{
            h2, h3, h4 {
                color: $govuk-link-visited-colour;
            }
        }

        &:focus{
            h2, h3, h4 {  
          background:$govuk-focus-colour;
          color: $govuk-focus-text-colour;
          box-shadow: 0 4px 0 $govuk-focus-text-colour;
            }
        }
    }

    .card-inner-panel {
        padding: 1.1em;
    }

  

}








.card-container{

	display: flex;
    flex-wrap: wrap;
    margin:0 -10px;
	

   .card{ 
    width: calc(100% * (1/3) - 0px - 20px);
    margin:0 10px 20px 10px;

    &.full {

        width: calc(100% * (3/3) - 0px - 20px); 

    }

    &.double{
        width: calc(100% * (2/3) - 0px - 20px); 

    }

    &.half{
        width: calc(100% * (1.5/3) - 0px - 20px); 

    }

    .govuk-inset-text{
        border-left-width:3px;
    }

   }

@media screen and (max-width:960px){
    .card, .card.double, .card.half { 
        width: calc(100% * (1/2) - 0px - 20px);
    }
}

@media screen and (max-width:640px){
    .card, .card.double, .card.half { 
        width: calc(100% * (1/1) - 0px - 20px);

    }
}
}





