//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

//sign out link comp header

.govuk-service-navigation__list {
  display: flex;
  justify-content: flex-end;
}

// phase banner 

.govuk-header__content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.govuk-phase-banner--inline {
  margin-left: 1rem; /* adjust spacing */
}
