{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
 {% from "govuk/components/radios/macro.njk" import govukRadios %}
 {% from "govuk/components/table/macro.njk" import govukTable %}
 {% from "govuk/components/panel/macro.njk" import govukPanel %}



{% set pageName="Home" %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Task closed",
        html: "CRU Comp SI IP letter sent to injured person"
      }) }}

   
      <h2 class="govuk-heading-m">What you can do next</h2>

      <p class="govuk-body">
          If there is no response in 14 days, a further hospital treatment confirmation task will be created.
      </p>

      <p class="govuk-body">
          <a href="view-claim-unknown-closed" class="govuk-link">View claim</a>
      </p>
   
      <p class="govuk-body">
        <a href="tasks" class="govuk-link">Back to tasks</a>
      </p>
    </div>
  </div>
{% endblock %}
