{% extends "layouts/agent.html" %}
{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Prototype index",
      href: "../index"
    }
  ]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include "includes/banner.njk" %}
    <form class="form" action="/claim-state" method="post">
        {{ govukRadios({
          name: "claimState",
          fieldset: {
            legend: {
              text: "CRS V2: select claim state",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
                value: "incomplete",
                text: "Claim is incomplete"
            },
            {
                value: "issued",
                text: "Certifcate has been issued"
            },
            {
                value: "legacy",
                text: "Claim has been moved to the legacy system"
            },
            {
                value: "settled",
                text: "Claim is settled"
            }
          ]
        }) }}
  
      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}