{% extends "layouts/agent.html" %}
{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Prototype index",
      href: "../index"
    }
  ]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  
    <form class="form" action="scenario" method="post">
      <h1 class="govuk-heading-l">This is not a valid claim</h1>
      <p class="govuk-body">The person has not suffered whiplash or another injury. This means you cannot register a claim on this service. </p>
      <p class="govuk-body"><a href="#">Change your answers</a></p>
      <p class="govuk-body"><a href="#">Go back to your dashboard</a></p>
     
  </div>
</div>
<!-- Delete -->
{% endblock %}