{% extends "layouts/agent.html" %}
{% set pageName = "Home" %}

{% block beforeContent %}
  {% include "includes/back.njk" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      Task details
    </h1>

    {{ govukTag({
      text: "In progress",
      classes: "govuk-tag--yellow"
    }) }}

    <div class="govuk-!-margin-top-7">

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Assigned to"
            },
            value: {
              text: "Sam Smith"
            }
          },
          {
            key: {
              text: "Description"
            },
            value: {
              text: "Check if an injured person had hospital treatment"
            }
          },
          {
            key: {
              text: "CRU reference"
            },
            value: {
              text: "PAB994"
            }
          },
          {
            key: {
              text: "Name of injured person"
            },
            value: {
              text: "Claire Roberts"
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              text: "09 April 1972"
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: "123 London Road<br>Coventry<br>CV1 2FD"
            }
          },
          {
            key: {
              text: "Date of injury"
            },
            value: {
              text: "19 June 2022"
            }
          }
        ]
      }) }}

    </div>

  <h2 class="govuk-heading-m">
        Task instructions
      </h2>

      <p class="govuk-body">
      A hospital treatment letter has been sent to the injured person’s representative and injured person. Complete a final check on DRS to see if they have replied to this letter.  
      </p>

      <p class="govuk-body">
        Based on this, decide which ‘task outcome’ to choose below.  
      </p>

      <h3 class="govuk-heading-s">
        If the representative or injured person has said the injured person did receive hospital treatment:
      </h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          go to <a href="../../agent/claim/index.html" target="_blank" rel="noreferrer noopener"> claim details (opens in a new tab)</a>,
          change 'Hospital treatment' from No to Yes and choose how you found out about
          the hospital treatment
        </li>
        <li>
          return to this page and choose
          'Close task – Hospital treatment took place'
        </li>
      </ul>

      <h3 class="govuk-heading-s">
        If the representative or injured person has said the injured person did not receive hospital treatment: 
      </h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          go to <a href="../../agent/claim/index.html" target="_blank" rel="noreferrer noopener"> claim details (opens in a new tab)
  </a>, choose the ‘Confirm no hospital treatment’ action and choose how you found out about the hospital treatment  
        </li>
        <li>
          return to this page and choose 'Close task – Hospital treatment did not take place'
        </li>
      </ul>
  <form method="post" action="/close-hct">
      <h3 class="govuk-heading-s">
      If the representative or injured person has not responded and we cannot confirm whether or not there was hospital treatment: 
      </h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
        choose ‘Close task – Hospital treatment cannot be confirmed’ and decide if you think the injuries are serious
        </li>
      </ul>
        {{ govukRadios({
          name: "taskOutcome",
          fieldset: {
            legend: {
              text: "Task outcome",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "hospital-treatment-took-place",
              text: "Close task – Hospital treatment took place "
            },
            {
              value: "hospital-treatment-did-not-take-place",
              text: "Close task – Hospital treatment did not take place"
            },
            {
              value: "confirmation-letter-sent",
              text: "Close task – Hospital treatment cannot be confirmed "
            }
          ]
        }) }}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Confirm"
      }) }}

      <a class="govuk-link" href="#">Cancel</a>
    </div>
  </form>

  </div>
</div>

{% endblock %}