{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
 {% from "govuk/components/radios/macro.njk" import govukRadios %}
 {% from "govuk/components/table/macro.njk" import govukTable %}



{% set pageName="Home" %}

{% block content %}

<div class="govuk-width-container"> 

    <a href="claim-options" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>

    <main class="govuk-main-wrapper" id="main-content" role="main"> 

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters-from-desktop"> 
                <h1 class="govuk-heading-xl">Update claim details
                </h1>

            <div class="govuk-inset-text"> 
                <a class="govuk-link"> Create legacy task</a>
            </div>

                <h2 class="govuk-heading-m">Claim details
                </h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key"> Liability type</dt>
                <dd class="govuk-summary-list__value"> Motor</dd>
                <dd class="govuk-summary-list__actions"> 
                    <a class="govuk-link" href="#">Change</a>
               </dd>
                </div>
            </dl>

                <h2 class="govuk-heading-m"> The injured person
                </h2>
            
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key"> Name</dt>
                <dd class="govuk-summary-list__value"> Bojen Westeros</dd>
                <dd class="govuk-summary-list__actions"> 
                    <a class="govuk-link" href="#">Change</a>
                </dd>
                </div>

            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Date of birth</dt>
            <dd class="govuk-summary-list__value">28 February 1978</dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change</a>
            </dd>
            </div>
    
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> National Insurance Number</dt>
            <dd class="govuk-summary-list__value"> AA 11 22 33 B </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change</a>
            </dd>
            </div>
            
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Injury date</dt>
            <dd class="govuk-summary-list__value"> 8 January 2023 </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change</a>
            </dd>
            </div>

            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Address</dt>
            <dd class="govuk-summary-list__value"> 45 Queens Road <br>Belfast <br>BT1 6JJ </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change</a>
            </dd>
            </div>
            </dl>

            <h2 class="govuk-heading-m">Injury details
            </h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Whiplash</dt>
            <dd class="govuk-summary-list__value"> Yes </dd>

            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change</a>
            </dd>
            </div>

            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Other injuries</dt>
            <dd class="govuk-summary-list__value"> Yes </dd>

            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change</a>
            </dd>
            </div>

            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Injury types</dt>
            <dd class="govuk-summary-list__value"> 	Physical injury other than whiplash <br>Psychological <br>Neurological</dd>
            </div>

            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Physical injury other than whiplash</dt>
            <dd class="govuk-summary-list__value"> 	
            <h3 class="govuk-heading-s"> Head injuries 
            </h3>

            <p>Details </p>
            <ul class="govuk-list--bullet">
                <li>Pain or discomfort </li>
                <li>Fracture </li>
            </ul>
            <p>Injury location </p>
            <ul class="govuk-list--bullet">
                <li> Left side</li>
            </ul>
        
            </dd>
            </div>

            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Psychological injuries	</dt>
            <dd class="govuk-summary-list__value"> Psychological shock </dd>
            </div>

            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Neurological injuries	</dt>
            <dd class="govuk-summary-list__value"> Memory loss </dd>
            </div>

            </dl> 

            <h2 class="govuk-heading-m"> Hospital treatment details
            </h2>
           
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Hospital treatment	</dt>
            <dd class="govuk-summary-list__value"> Yes </dd>

       <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="confirm-hospital-treatment-2">Change</a>
            </dd>
            </div>
   <!--  
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">HS trust exemption </dt>
            <dd class="govuk-summary-list__value">No </dd>

            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change </a>
            </dd>
            </div>

            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Treatment at Belfast Health and Social Care Trust </dt>
            <dd class="govuk-summary-list__value">
            <p class="govuk-body govuk-!-font-weight-bold">Treatment 1</p> 
            Inpatient  <br>
            From 10 January 2023 <br>
            31 days
            <br><br>
            <p><span class="govuk-body govuk-!-font-weight-bold">Notes from HS trust</span>:<br> "Patient also attended out patient's at Belfast Health and Social Care Trust 10/02/23"</p>
        
            <a class="govuk-link" href="#"> Add new treatment</a>
            </dd>
    

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a><br>
                <a class="govuk-link" href="#">
                  Remove<span class="govuk-visually-hidden"> address</span>
                </a>

                <br>
                <br><br><br>
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a><br>
                <a class="govuk-link" href="#">
                  Remove<span class="govuk-visually-hidden"> address</span>
                </a>
            </dd>
          </div>

            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Northern Ireland ambulance service </dt>
            <dd class="govuk-summary-list__value">
            <p class="govuk-body govuk-!-font-weight-bold">Treatment 1</p> 
            Ambulance  <br>
            From 9 January 2023<br>
            1 day
            <br><br>
        
            <a class="govuk-link" href="#"> Add new treatment</a>
            </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a><br>
                <a class="govuk-link" href="#">
                  Remove<span class="govuk-visually-hidden"> address</span>
                </a>

        
            </dd>
            </div>

            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">H&C number </dt>
            <dd class="govuk-summary-list__value">729388103 </dd>

            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change </a>
            </dd>
            </div>
             <br>
             <a class="link" href="#"> 
            Add new trust
        </a>
        </div>

    -->

     </dl>


       <h2 class="govuk-heading-m">Injured person's representitive
            </h2>
           
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Company name	</dt>
            <dd class="govuk-summary-list__value"> Test company</dd>

      <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change</a>
            </dd>
            </div>

                <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Email address	</dt>
            <dd class="govuk-summary-list__value"> jane.doe@testcompany.com </dd>

      <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change</a>
            </dd>
            </div>

                <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Reference number	</dt>
            <dd class="govuk-summary-list__value"> 7876D </dd>

      <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change</a>
            </dd>
            </div>

                <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Telephone</dt>
            <dd class="govuk-summary-list__value"> 07274568592 </dd>

      <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change</a>
            </dd>
            </div>

                <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Address</dt>
            <dd class="govuk-summary-list__value">
                 6 Granville avenue<br>
                Newcastle Upon Tyne<br>
                NE12 7BB
                </dd>

      <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change</a>
            </dd>
            </div>
       </dl>


         <h2 class="govuk-heading-m">Compensator
            </h2>
           
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Name</dt>
            <dd class="govuk-summary-list__value"> Your claim compnay </dd>

      <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change</a>
            </dd>
            </div>

                <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Address</dt>
            <dd class="govuk-summary-list__value">
                1 Somerser Park<br>
                Fulwood<br>
                Preston<br>
                PR2 7HA
            </dd>

      <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change</a>
            </dd>
            </div>

                <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Email address</dt>
            <dd class="govuk-summary-list__value"> john.doe@yourclaimcompany.com </dd>

      <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change</a>
            </dd>
            </div>

                <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Telephone</dt>
            <dd class="govuk-summary-list__value"> 01772098768 </dd>

      <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change</a>
            </dd>
            </div>

                <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Reference number</dt>
            <dd class="govuk-summary-list__value"> H781278</dd>

      <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change</a>
            </dd>
            </div>
       </dl>

  </main>
</div>
{% endblock %}

