{% extends "layouts/agent.html" %}
{% set pageName="Home" %}

{% block beforeContent %}
{% include "includes/back.njk" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="task-completed" method="post">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        Have you created a legacy task?
        </h1>
        <p>Make sure you've created a legacy task before confirming.</p>
        {{ govukButton({
            text: "Save and complete"
        }) }}
    </form>
  </div><!-- End 2/3 column -->
</div><!-- End row -->

{% endblock %}
