{% extends "layouts/agent.html" %}
{% set pageName="Home" %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if data.conditions == "errorCru4Blank" %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Select an option",
            href: "#"
          }
        ]
      }) }}
    {% endif %}

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Task details
    </h1>

    {{ govukTag({
    text: "In progress",
    classes: "govuk-tag--yellow"
    }) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-6">
    Task instructions
    </h2>

    <p>1. Claim details shown below is static and will not change on update</p>
    <p class="govuk-!-margin-bottom-6"><a href="#">View claim (opens in new tab)</a></p>

    <!-- Details table goes here -->
    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Check claim details
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
      {{ govukTable({
          firstCellIsHeader: true,
          head: [
            { text: "Detail" },
            { text: "Current" },
            { text: "New" }
          ],
          rows: [
            [
              { text: "Compensator name" },
              { html: "TESCO TESCO BRANCH<br>001" },
              { html: "TESCO<br>NEWCASTLE" }
            ],
            [
              { text: "Compensator phone" },
              { text: "0845 6787794" },
              { text: "" }
            ]
          ]
        }) }}
      </div>
    </div>

    <h2 class="govuk-heading-m govuk-!-margin-top-4">
    What is the next step?
    </h2>
    <!-- Start default list -->
    <form action="/cru-4-answer" method="post">
    {% if data.conditions != "errorCru4Blank" %}
    {{ govukRadios({
      name: "amendmentOptions",
      items: [
        {
          value: "ignore",
          text: "Ignore claim details change"
        },
        {
          value: "detailsUpdated",
          text: "Claim details updated on this system (mark as complete)"
        },
        {
          value: "ignoreLegacy",
          text: "Legacy task created (mark as complete)"
        }
      ]
    }) }}
    {% endif %}
    <!-- End default list -->

    <!-- Start list with error state -->
    {% if data.conditions == "errorCru4Blank" %} 
         {{ govukRadios({
      name: "amendmentOptions",
      items: [
        {
          value: "ignore",
          text: "Ignore claim details change"
        },
        {
          value: "detailsUpdated",
          text: "Claim details updated on this system"
        },
        {
          value: "ignoreLegacy",
          text: "Ignore claim details change and create legacy task"
        }
      ],
      errorMessage: {
        text: "Select an option"
      }
    }) }}
    {% endif %}
    <!-- Ends list with error state -->

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}
        <a class="govuk-link" href="#">Cancel</a>
      </div>
    </form>
  </div><!-- End 2/3 column -->
</div><!-- End row -->

{% endblock %}
