{% extends "layouts/agent.html" %}
{% set pageName="Home" %}

{% block beforeContent %}
{% include "includes/back.njk" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if data.conditions == "errorLegacyConfirmBlank" %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Confirm you have created a legacy task",
            href: "#"
          }
        ]
      }) }}
    {% endif %}
    <form action="task-completed" method="post">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        Have you created a legacy task?
        </h1>
        <p>Make sure you've created a legacy task before completing.</p>
        <!-- Default state -->
        {% if data.conditions != "errorLegacyConfirmBlank" %}
          {{ govukCheckboxes({
          classes: "govuk-!-margin-top-6 govuk-!-margin-bottom-6",
          name: "legacyConfirm",
          items: [
              {
              value: "confirm",
              text: "Yes, I've created a legacy task"
              }
          ]
          }) }}
        {% endif %}

        <!-- Error state: checkbox not checked on submission-->
        {% if data.conditions == "errorLegacyConfirmBlank" %}
          {{ govukCheckboxes({
          classes: "govuk-!-margin-top-6 govuk-!-margin-bottom-6",
          name: "legacyConfirm",
          items: [
              {
              value: "confirm",
              text: "Yes, I've created a legacy task"
              }
          ],
          errorMessage: {
              text: "Confirm you have created a legacy task"
          }
          }) }}
        {% endif %}
        {{ govukButton({
          text: "Save and complete"
        }) }}
    </form>
  </div><!-- End 2/3 column -->
</div><!-- End row -->

{% endblock %}
