{% extends "layouts/agent.html" %}
{% set pageName="Home" %}

{% block beforeContent %}
{% include "includes/back.njk" %}
{% endblock %}

{% block content %}
<form method="post">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="event-name">
          What is {{ data['orgname'] }}'s delegateID?
        </label>
      </h1>
      <div id="event-name-hint" class="govuk-hint">
        The delegateID is one letter followed by five numbers like A12345
      </div>
      <input class="govuk-input" id="delegateid" name="delegateid" type="text" aria-describedby="delegate-id">
    </div>
    <button type="submit" class="govuk-button" data-module="govuk-button">
  Continue
</button>
  </div>
</div>
</form>
<!--
{{ data | dump }}
-->
{% endblock %}
