{% extends "layouts/agent.html" %}
{% set pageName="Home" %}

{% block beforeContent %}
{% include "includes/back.njk" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div>
    <h1 class="govuk-heading-l">{{ data['orgname'] }} may already have an account</h1>
    <p class="govuk-body">The name you entered has a close match to an organisation registered to CRS.</p>
    <p class="govuk-body">If the organisation you're trying to register is different, you can continue the registration.</p>
    <div>
      <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">The organisations already registered are</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Organisation name</th>
      <th scope="col" class="govuk-table__header">Organisation address</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">{{ data['orgname'] }}</th>
      <td class="govuk-table__cell">107 Wasington street, AA12 2PS</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">{{ data['orgname'] }} Ltd</th>
      <td class="govuk-table__cell">101 Wasington street, AA12 2PS</td>
    </tr>
   
  </tbody>
</table>
   <form action="/form-handler" method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Do you want to continue with the registration or add a branch to the registered organisation?
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="interviewNeeds" name="interviewNeeds" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="interviewNeeds">
                    Stop the registation
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="interviewNeeds-2" name="interviewNeeds" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="interviewNeeds-2">
                    Continue the registration
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="interviewNeeds-2" name="interviewNeeds" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="interviewNeeds-2">
                    Add a branch to the existing organisation
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
    </div>
  </div>
</div>
{% endblock %}
