{% extends "layouts/agent.html" %}
{% set pageName="Home" %}

{% block beforeContent %}
{% include "includes/back.njk" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div>
    <h1 class="govuk-heading-l">InsurerID [insurerid] are already registered on CRS</h1>
    <p class="govuk-body">Here is probably where we'll tell the agent what to do next</p>
  <button type="submit" class="govuk-button" data-module="govuk-button">
  And a really helpful button pointing them in the right direction that has no right being this long
</button>
  </div>
</div>
{% endblock %}
