{% extends "layouts/agent.html" %}
{% set pageName="Home" %}

{% block beforeContent %}
{% include "includes/back.njk" %}
{% endblock %}

{% block content %}
<form class="post" action="/v2/agent/registration/org-name">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="event-name">
          What is {{ data['orgname'] }}'s insurerID?
        </label>
      </h1>
      <div id="event-name-hint" class="govuk-hint">
        The insurerID is in ... format
      </div>
      <input class="govuk-input" id="insurerid" name="insurerid" type="text" aria-describedby="event-name-hint">
    </div>
    <button type="submit" class="govuk-button" data-module="govuk-button">
  Continue
</button>
  </div>
</div>
</form>
{{ data | dump }}
{% endblock %}  
