{% extends "layouts/agent.html" %}
{% set pageName="Home" %}

{% block beforeContent %}
{% include "includes/back.njk" %}
{% endblock %}

{% block content %}
<form method="post">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="event-name">
          What is {{ data['orgname'] }}'s email address?
        </label>
      </h1>
      <div id="event-name-hint" class="govuk-hint">
    Avoid using a personal email address. This should be an email address for an organisation or department.
  </div>
      <input class="govuk-input" id="orgemail" name="orgemail" type="text" aria-describedby="organisation-email">
    </div>
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Continue
    </button>
  </div>
</div>
</form>
<!--
{{ data | dump }}
-->
{% endblock %}
