{% extends "layouts/agent.html" %}
{% set pageName="Home" %}

{% block beforeContent %}
{% include "includes/back.njk" %}
{% endblock %}

{% block content %}
<form method="post">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div>
      <div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
          
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    What type of organisation is {{ data['orgname'] }}?
                  </h1>
                </legend>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="orgtype" name="orgtype" type="radio" value="Insurer or compensator">
                    <label class="govuk-label govuk-radios__label" for="orgtype">
                      Compensator
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="orgtype" name="orgtype" type="radio" value="Third party administrator">
                    <label class="govuk-label govuk-radios__label" for="orgtype">
                      Third party administrator
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
              Continue
            </button>
          
        </div>
      </div>
    </main>
  </div>
  
  </div>
  {{ data | dump }}
</div>
</form>



{% endblock %}
