{% extends "layouts/agent.html" %}
{% set pageName="Home" %}

{% block beforeContent %}
{% include "includes/back.njk" %}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Organisation registered
          </h1>
         
        </div>
      
        <h2 class="govuk-heading-m">What you can do next</h2>
        <p class="govuk-body">This is the Organisation ID: A12345</p>
        <p class="govuk-body">You need to inform the compensator of their new Organisation ID.</p>
        <p class="govuk-body">
          <a href="/v2/agent/registration/add-unit/unit-name">Add a branch</a></p>
               <p class="govuk-body"><a href="#">View organisation</a></p>
        
      </div>
    </div>
  </main>
</div>
{% endblock %}
