{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="update-claim-details" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>


<form class="form" action="injured-person-postcode-gb-2" method="post">

<main class="govuk-main-wrapper" id="main-content">

<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
  
    <h1 class="govuk-fieldset__heading">
      Why do you need to create a legacy task?
    </h1>
  
  </legend><p class="govuk-error-message" style="display: none;"></p>
  

  <div class="govuk-radios" data-required-error-text="Select an option to continue" data-module="govuk-radios" data-govuk-radios-init="">
    
    
  
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="question-1" name="question-1" type="radio" value="Communication from compensator">
      <label class="govuk-label govuk-radios__label" for="question-1">
        Communication from compensator
      </label>
      
    </div>
    
  
    
      
  
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="question-1-2" name="question-1" type="radio" value="Address change">
      <label class="govuk-label govuk-radios__label" for="question-1-2">
        Address change
      </label>
      
    </div>
    
  
    
      
  
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="question-1-3" name="question-1" type="radio" value="Date of Death found">
      <label class="govuk-label govuk-radios__label" for="question-1-3">
        Date of Death found
      </label>
      
    </div>
    
  
    
      
  
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="question-1-4" name="question-1" type="radio" value="Other - agent add note">
      <label class="govuk-label govuk-radios__label" for="question-1-4">
        Other - agent add note
      </label>
      
    </div>
    
  
    
    
  </div>

</fieldset>

</div>

      
  
    
  

<button type="submit" class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
  Continue
</button>

    </form>

  </div>
</div>


        </main>


{% endblock %} 

