{% extends "layouts/agent.html" %}
{% set pageName="Home" %}

{% block beforeContent %}
{% include "includes/back.njk" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Start error banner-->
     {% if data.conditions == "errorCru4IgnoreBlank" %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
            {
                text: "You must select a reason for ignoring the changes",
                href: "#"
            }
            ]
        }) }}
    {% endif %}

    {% if data.conditions == "errorCru4OtherBlank" %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "You must enter a reason for ignoring the change",
            href: "#"
          }
        ]
      }) }}
    {% endif %}

    {% if data.conditions == "errorCru4OtherCharLimit" %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Your reason(s) must be 200 characters or less",
            href: "#"
          }
        ]
      }) }}
    {% endif %}
    <!-- End error banner-->
    <form action="../claim/notes" method="post">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
        Add NHS note
        </h1>

        <!-- Start default list -->
            {{ govukRadios({
            name: "ignoreOptions",
            items: [
                {
                    value: "DOHWAMB",
                    text: "DOHWAMB"
                },
                {
                    value: "DOHWAMB1",
                    text: "DOHWAMB1"
                },
                {
                    value: "DOHWAMBEXEM",
                    text: "DOHWAMBEXEM"
                },
                {
                    value: "DOHWCN",
                    text: "DOHWCN"
                },
                {
                    value: "DOHWDIS",
                    text: "DOHWDIS"
                },
                {
                    value: "DOHWDUAL",
                    text: "DOHWDUAL"
                },
                {
                    value: "DOHWEXEM",
                    text: "DOHWEXEM"
                },
                {
                    value: "DOHWEXH",
                    text: "DOHWEXH"
                },
                {
                    value: "DOHWFTU",
                    text: "DOHWFTU"
                },
                {
                    value: "DOHWLIA",
                    text: "DOHWLIA"
                },
                {
                    value: "DOHWLIQ",
                    text: "DOHWLIQ"
                },
                {
                    value: "DOHWLIQ2",
                    text: "DOHWLIQ2"
                },
                {
                    value: "DOHWNT",
                    text: "DOHWNT"
                },
                {
                    value: "DOHWPR",
                    text: "DOHWPR"
                },
                {
                    value: "DOHWS10",
                    text: "DOHWS10"
                },
                {
                    value: "DOHWURE",
                    text: "DOHWURE"
                },
                {
                    value: "DOHWWO",
                    text: "DOHWWO"
                }        
            ]
            }) }}
        <!-- End default list -->

        <div class="govuk-button-group">
        {{ govukButton({
            text: "Add note"
        }) }}

        <a class="govuk-link" href="../claim/notes">Cancel</a>
        </div>
    </form>
  </div><!-- End 2/3 column -->
</div><!-- End row -->

{% endblock %}
