{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}



{% set pageName="Home" %}

{% block content %}

<!--
{{ govukBackLink({
  text: "Back",
  href: "index"
}) }}-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
      Sarah Phillips
    </h1>
    <p class="govuk-body">PAB704</p>

    {{ govukTag({
    text: "Change me"
    }) }}

    {{ 
        dwpHorizontalNavigation({
                selectedItem: "#s-item-1",
                containerClasses: "govuk-!-margin-top-8  govuk-!-margin-bottom-8",
                items: [
                    {
                    text: "Overview",
                    href: "#s-item-1",
                    id: "s-item-1"
                    },
                    {
                    text: "Notes",
                    href: "#s-item-2",
                    id: "s-item-2"
                    },
                    {
                    text: "History",
                    href: "#s-item-3",
                    id: "s-item-3"
                    }
                ]
            })
    }}

    {% set pastDayHtml %}
    <h2 class="govuk-heading-m">Claim details</h2>
    {{ govukTable({
    rows: [
        [
        {
            text: "David Francis"
        },
        {
            text: "3"
        },
        {
            text: "0"
        }
        ],
        [
        {
            text: "Paul Farmer"
        },
        {
            text: "1"
        },
        {
            text: "0"
        }
        ],
        [
        {
            text: "Rita Patel"
        },
        {
            text: "2"
        },
        {
            text: "0"
        }
        ]
    ]
    }) }}
    {% endset -%}

    {% set pastWeekHtml %}
    <h2 class="govuk-heading-l">Contact details</h2>
    {{ govukTable({
    head: [
        {
        text: "Case manager"
        },
        {
        text: "Cases opened"
        },
        {
        text: "Cases closed"
        }
    ],
    rows: [
        [
        {
            text: "David Francis"
        },
        {
            text: "24"
        },
        {
            text: "18"
        }
        ],
        [
        {
            text: "Paul Farmer"
        },
        {
            text: "16"
        },
        {
            text: "20"
        }
        ],
        [
        {
            text: "Rita Patel"
        },
        {
            text: "24"
        },
        {
            text: "27"
        }
        ]
    ]
    }) }}
    {% endset -%}

    {% set pastMonthHtml %}
    <h2 class="govuk-heading-l">Past month</h2>
    {{ govukTable({
    head: [
        {
        text: "Case manager"
        },
        {
        text: "Cases opened"
        },
        {
        text: "Cases closed"
        }
    ],
    rows: [
        [
        {
            text: "David Francis"
        },
        {
            text: "98"
        },
        {
            text: "95"
        }
        ],
        [
        {
            text: "Paul Farmer"
        },
        {
            text: "122"
        },
        {
            text: "131"
        }
        ],
        [
        {
            text: "Rita Patel"
        },
        {
            text: "126"
        },
        {
            text: "142"
        }
        ]
    ]
    }) }}
    {% endset -%}

    {% set pastYearHtml %}
    <h2 class="govuk-heading-l">Past year</h2>
    {{ govukTable({
    head: [
        {
        text: "Case manager"
        },
        {
        text: "Cases opened"
        },
        {
        text: "Cases closed"
        }
    ],
    rows: [
        [
        {
            text: "David Francis"
        },
        {
            text: "1380"
        },
        {
            text: "1472"
        }
        ],
        [
        {
            text: "Paul Farmer"
        },
        {
            text: "1129"
        },
        {
            text: "1083"
        }
        ],
        [
        {
            text: "Rita Patel"
        },
        {
            text: "1539"
        },
        {
            text: "1265"
        }
        ]
    ]
    }) }}
    {% endset -%}

    {{ govukTabs({
    items: [
        {
        label: "Claim details",
        id: "past-day",
        panel: {
            html: pastDayHtml
        }
        },
        {
        label: "Contact details",
        id: "past-week",
        panel: {
            html: pastWeekHtml
        }
        },
        {
        label: "Certificates",
        id: "past-month",
        panel: {
            html: pastMonthHtml
        }
        }
    ]
    }) }}
      


  </div>
</div>

{% endblock %}
