{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}



{% set pageName="Home" %}

{% block content %}


{{ govukBackLink({
  text: "Back",
  href: "index"
}) }}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <h1 class="govuk-heading-xl">
      Agent UI prototypes
    </h1>

      

        

        <div>
          {{ govukAccordion({
            id: "accordion-default",
            items: [
              {
                heading: {
                  text: "Referral"
                },
                content: {
                  html: '<p class="govuk-body">This is the content for How people read.</p>'
                }
              },
                {
                heading: {
                  text: "Onboarding"
                },
                content: {
                  html: '<p class="govuk-body">This is the content for How people read.</p>'
                }
              },
              {
                heading: {
                  text: "Account management"
                },
                content: {
                  html: '
                  
                  <div style="margin-top: 50px;">
                    <h3 class="govuk-heading-s">Title of work (E.g. Adding branches to an organisation)</h3>
                    <p>
                      Description of the piece of work, mention if work came out of UR findings what we are addressing. E.g. Allowing the compensators to add branches to the organisation account.
                    </p>

                    <p class="govuk-body"><a class="govuk-link" href="/agent/task-closure-ni">Start prototype - Full flow</a></p>

                    <h3 class="govuk-heading-s">Changes since the last iteration</h3>
                    <p class="govuk-body"></p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>description</li>
                        <li>description</li>
                        <li>description</li>
                      </ul>
                
                    <h3 class="govuk-heading-s">Links to individual pages</h3>
                    <p class="govuk-body"></p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>description and <a href="" class="govuk-link">link to page with changes</a></li>
                        <li>description and <a href="" class="govuk-link">link to page with changes</a></li>
                      </ul>
                    
                    <h3 class="govuk-heading-s">Links to error pages</h3>
                    <p class="govuk-body"></p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>description and <a href="" class="govuk-link">link to error page</a></li>
                        <li>description and <a href="" class="govuk-link">link to error page</a></li>
                      </ul>
                    
                        
                    <h3 class="govuk-heading-s">Relevant links</h3>
                    <p class="govuk-body"></p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li><a href="" class="govuk-link">Journey mapped out in Lucid board</a></li>
                        <li><a href="" class="govuk-link">User research findings informing work</a></li>
                        <li><a href="" class="govuk-link">User research findings from testing</a></li>
                      </ul>

                      <p class="govuk-body">Designer who worked on this: Natasha Dodds</p>
                  
                  </div>
                  
                  '
                }
              },
              {
                heading: {
                  text: "Manage claims"
                },
                content: {
                  html: '<p class="govuk-body">This is the content for Writing well for specialists.</p>'
                }
              },
              {
                heading: {
                  text: "Benefit checks"
                },
                content: {
                  html: '<p class="govuk-body">This is the content for Know your audience.</p>'
                }
              },
              {
                heading: {
                  text: "Health treatment checks"
                },
                content: {
                  html: '<p class="govuk-body">This is the content for How people read.</p>'
                }
              },
                {
                heading: {
                  text: "NI HS Compliance"
                },
                content: {
                  html: '
                  
                     <div style="margin-top: 50px;">
                    <h3 class="govuk-heading-s">NI Agent chases IP Rep - Call task  </h3>
                    <p>
                     Allowing an NI agent to confirm the outcome of the task to check if an IP had hospital treatment. This journey guides the agent to update claim details to confirm if an IP did or did not have hospital treatment or send a letter to the IP requesting furhter information. The agent will then confirm how they processed with the task and it will be complete. 
                    </p>

                    <p class="govuk-body"><a class="govuk-link" href="/agent/tasks">Start prototype - Full flow</a></p>

                
                    <h3 class="govuk-heading-s">Links to individual pages</h3>
                    <p class="govuk-body"></p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li><a href="./agent/view-claim-ip-letter" class="govuk-link">History timeline entry</a> when IP letter is sent from the claim options page, before the user goes back to confirm the task outcome.</li>
      
                      </ul>
                    
                    <h3 class="govuk-heading-s">Links to error pages</h3>
                    <p class="govuk-body"></p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li><a href="agent/task-details-error" class="govuk-link">Error message for task details page - Task outcome radios</a></li>
                      </ul>
                    
                        
                    <h3 class="govuk-heading-s">Relevant links</h3>
                    <p class="govuk-body"></p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://lucid.app/lucidspark/cdc94e6f-668e-45fa-98dc-bdb4e17b48f8/edit?view_items=kyp-sQlw6iiD&page=0_0&invitationId=inv_d9eb50e0-b8c7-4626-9520-df9b1a7abdaa" class="govuk-link">Journey mapped out in Lucid board (opens in new tab)</a></li>
                      </ul>

                      <p class="govuk-body">Designer who worked on this: Natasha Dodds and Olivia Ladanyi</p>
                  
                  </div>


                    <div style="margin-top: 50px;">
                    <h3 class="govuk-heading-s">NI - Updating Hospital treatment YES to NO </h3>
                    <p>
                    Not allowing agents to update a Hospital treatment from YES to NO, as a legacy task has already been created for CRU.

                    <br>
                    <br>

                      This is a work around until we look at the legacy tasks service wide.
                    </p>
                
                    <h3 class="govuk-heading-s">Links to individual pages</h3>
                    <p class="govuk-body"></p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li><a href="./agent/update-claim-details-hs-yes" class="govuk-link">Updating claim detals from YES to NO </a></li>
      
                      </ul>
                    
                    <h3 class="govuk-heading-s">Links to error pages</h3>
                    <p class="govuk-body"></p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li><a href="agent/task-details-error" class="govuk-link">Error message for task details page - Task outcome radios</a></li>
                      </ul>
                    
                        
                    <h3 class="govuk-heading-s">Relevant links</h3>
                    <p class="govuk-body"></p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://lucid.app/lucidspark/cdc94e6f-668e-45fa-98dc-bdb4e17b48f8/edit?view_items=kyp-sQlw6iiD&page=0_0&invitationId=inv_d9eb50e0-b8c7-4626-9520-df9b1a7abdaa" class="govuk-link">Journey mapped out in Lucid board (opens in new tab)</a></li>
                      </ul>

                      <p class="govuk-body">Designer who worked on this: Natasha Dodds and Olivia Ladanyi</p>
                  
                  </div>




                  '
                }
              },
                {
                heading: {
                  text: "Settlement"
                },
                content: {
                  html: '<p class="govuk-body">This is the content for How people read.</p>'
                }
              },
                {
                heading: {
                  text: "Payment"
                },
                content: {
                  html: '<p class="govuk-body">This is the content for How people read.</p>'
                }
              },
                {
                heading: {
                  text: "Reviews"
                },
                content: {
                  html: '<p class="govuk-body">This is the content for How people read.</p>'
                }
              }
            ]
          }) }}

        </div>


  </div>
</div>

{% endblock %}
