{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}



{% set pageName="Home" %}

{% block content %}


{{ govukBackLink({
  text: "Back",
  href: "index"
}) }}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <h1 class="govuk-heading-xl">
      Patterns in use in CRS
    </h1>

      <p class="govuk-body">This page will detail the patterns we are using for certain components in CRS, with examples of the designs.</p>


      <h2 class="govuk-heading-l">
        Confirmation pages
      </h2>

      <p class="govuk-body">Use this pattern to let users know they’ve completed a final action. Let them know what the action is that they have completed and what they can do next where that is relevant.</p> 

      <p class="govuk-body">We use different styles of confirmation pages depending on the scenario.<a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://dwpdigital.atlassian.net/wiki/spaces/CRS/pages/134057659319/Confirmation+pages" class="govuk-link"> View documentation on this pattern in confluence (opens in new tab)</a>.</p>
      <p class="govuk-body"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://design-system.service.gov.uk/patterns/confirmation-pages/">GDS pattern for confirmation pages (opens in new tab)</a>.</p>

  

      <h2 class="govuk-heading-l">
        Timeline entries
      </h2>

      <p class="govuk-body">We use different styles of timeline entries depending on the action completed. <a class="govuk-link" rel="noreferrer noopener" target="_blank" href=" https://dwpdigital.atlassian.net/wiki/spaces/CRS/pages/134057659910/Claim+timeline+entries" class="govuk-link"> View documentation on this pattern in confluence (opens in new tab)</a>.</p>

     
      <p class="govuk-body"><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://design-system.dwp.gov.uk/components/timeline/examples/default">DWP pattern for timeline entries (opens in new tab)</a>.</p>


      <p class="govuk-body">We currently have 3 types of timeline entries:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>claim action</li>
        <li>agent note</li>
        <li>NHS note</li>
      </ul>

      <p class="govuk-body">Claim action is used when an agent completes any action on the claim. For example, when a claim is saved.</p>

      <p class="govuk-body">Agent note is used when an agent adds a note to the claim, from the claim details page. This is a freetext note.</p>

      <p class="govuk-body">NHS note is used for a few different NHS related abbreviations. This will not appear currently as we do not accept claims on CRS with NHS treatment, it will only appear when claims have NHS treatment.</p>


      <h2 class="govuk-heading-l">
       Error summary and error messages
      </h2>

            <p class="govuk-body">We use different styles of error summary and messages depending on the input field and error. <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://dwpdigital.atlassian.net/wiki/spaces/CRS/pages/134058118000/Error+summary+and+error+messages" class="govuk-link"> View documentation on this pattern in confluence (opens in new tab)</a>.</p>


  </div>
</div>

{% endblock %}
