{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
    {% from "internal-service-header/macro.njk" import dwpHeader %}
    {% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block header %}



{{
        dwpHeader({
            serviceName: "Manage your compensation recovery claims",
            serviceHref: '#',
             action: "Sign out",
            actionHref: "#",
            container: true,
            navigation: {
              items: [
                  {
                      href: "#",
                      text: "Home"
                  },
                  {
                      href: "#",
                      text: "Tasks"
                  },
                  {
                      href: "#",
                      text: "Find a claim"
                  },
                  {
                      href: "#",
                      text: "Organisation list"
                  }
           
              ]
          }  
        })
}}


{% endblock %}

