{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
    {% from "internal-service-header/macro.njk" import dwpHeader %}
    {% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
    {% from "govuk/components/footer/macro.njk" import govukFooter %}
     {% from "internal-service-footer/macro.njk" import dwpFooter %}


{% block header %}

{% if (data['persona'] == "compensator") %}

    {{ govukHeader({
    classes: "govuk-header--full-width-border"
    }) }}
    {{ govukServiceNavigation({
    serviceName: "Manage your compensation recovery claims",
    serviceUrl: "#",
    navigation: [
        {
        href: "#",
        text: "Sign out",
        classes: "govuk-service-navigation__list"
        }
    ]
    
    }) 
 }}



    {% elseif (data['persona'] == "agent") %}


{{
        dwpHeader({
            serviceName: "Manage your compensation recovery claims",
            serviceHref: '#',
             action: "Sign out",
            actionHref: "#",
            container: true,
            navigation: {
              items: [
                  {
                      href: "#",
                      text: "Home"
                  },
                  {
                      href: "#",
                      text: "Tasks"
                  },
                  {
                      href: "#",
                      text: "Find a claim"
                  },
                  {
                      href: "#",
                      text: "Organisation list"
                  },
                   {
                      href: "#",
                      text: "Admin properties"
                  },
                   {
                      href: "#",
                      text: "Roles"
                  }
           
              ]
          }  
        })
}}

{% else %}
    {{ govukHeader() }}
    {{ govukServiceNavigation({
        serviceName: serviceName
    })}}

{% endif%}
{% endblock %}

{% block footer %}

{% if (data['persona'] == "compensator") %}

{{ govukFooter({}) }}


    {% elseif (data['persona'] == "agent") %}



{{
        dwpFooter({
            meta: {
                visuallyHiddenTitle: "About this website",
                items: [
                {
                    href: "",
                    text: "Accessibility statement"
                },
                {
                    href: "",
                    text: "Privacy"
                }
                ]
            }
        }) 
}}



{% else %}
 
{{ govukFooter({}) }}

{% endif%}

   


{% endblock %}
