{% extends "layouts/agent.html" %}
{% set pageName="Change me" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/tag.njk" %}

    {% set claimPath = "/v2/agent/claim" %}
    {{ 
        dwpHorizontalNavigation({
                selectedItem: "/v2/agent/claim/certificates.html",
                containerClasses: "govuk-!-margin-top-8  govuk-!-margin-bottom-8",
                items: [
                    {
                    text: "Overview",
                    href: claimPath + "/index.html",
                    id: "s-item-1"
                    },
                    {
                    text: "Notes",
                    href: claimPath + "/notes.html",
                    id: "s-item-2"
                    },
                    {
                    text: "History",
                    href: claimPath + "/history.html",
                    id: "s-item-3"
                    },
                    {
                    text: "Certificates",
                    href: claimPath + "/certificates.html",
                    id: "s-item-4"
                    }
                ]
            })
    }}

    <h2 class="govuk-heading-m">Certificates</h2>
    <h3 class="govuk-heading-s">No certificates issued</h3>
    <p>This claim is being processed manually which can take up to 28 days.</p>
    <p> You will be able to download certificates once they become available. </p>
<h3 class="govuk-heading-s">Amount to pay</h3>
<p class="govuk-heading-m govuk-!-margin-bottom-6">NIL</p>

<dl class="govuk-summary-list govuk-!-margin-bottom-6">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Compensator Certificate of Recoverable benefits
    </dt>
    <dd class="govuk-summary-list__value">
      Expires 20 September 2026
    </dd>
    <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Download
          </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Compensator Certificate of NHS charges
    </dt>
    <dd class="govuk-summary-list__value">
      No expiry
    </dd>
    <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Download
          </a>
    </dd>
  </div>
</dl>

{{ govukDetails({
  summaryText: "Expired certificates",
  html: '
    <dl class="govuk-summary-list govuk-!-margin-bottom-0">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Compensator Certificate of Recoverable benefits
        </dt>
        <dd class="govuk-summary-list__value">
          Expired
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Download
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Compensator Certificate of Recoverable benefits
        </dt>
        <dd class="govuk-summary-list__value">
          Expired
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Download
          </a>
        </dd>
      </div>
    </dl>
  '
}) }}

  </div>
  <div class="gov-grid-column-one-third">
    {% include "includes/actions.njk" %}
  </div>
</div>

{% endblock %}
